	<head>
		<title>Transit2Me - Event Embed</title>
		<link href="../bootstrap.min.css" rel="stylesheet" type="text/css" media="screen"/>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">
						Transit2Me
					</a>
					<form class="navbar-search pull-right">
						<input type="text" class="search-query" placeholder="Find Event"/>
					</form>
				</div>
			</div>
		</div>
		<div class="container">
		<% if just_created == "true" %>
			<div class="row">
				<%= event.eventname %> was posted.
				<br/>
				Embed using code: &lt;iframe src="http://transit2me.heroku.com/event?name=<%= event.eventname %>" width="400" height="300" frameborder="0"&gt;&lt;/iframe&gt;
			</div>
		<% end %>
			<div class="row">
				<h1 style="color:green;font-size:16pt;">Get here by bus, take MTA!</h1>
				Address:
				<form action="/routeit" method="GET">
					<input name="eventname" type="hidden" value="<%= event.eventname %>"/>
					<input name="address" type="text" size="30"/>
					<br/>
					<input type="submit" value="Get Directions"/>
				</form>
			</div>
		</div>
	</body>