	<body>
		Address:
		<form action="/geotransit" method="POST">
			<input name="eventname" type="hidden" value="NickEvent"/>
			<input name="address" type="text"/>
			<input type="submit" value="Get Directions"/>
			<br/>
			<select name="city">
				<option value="sf">San Francisco</option>
				<option value="macon" selected="selected">Macon</option>
			</select>
		</form>
	</body>