<h1>PDF Archive</h1>

<form action="/search" method="GET">
  <p>
    <input name="q" type="text" />
    <button>Search</button>
  </p>
</form>

<% if @documents %>
  <h2>Search Results</h2>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <a href="<%= document.pdf %>">
          <img src="<%= document.preview %>" />
          <%= document.pdf_filename %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Upload</h2>
<form action='/' method="POST" enctype="multipart/form-data">
  <p>
    <input name="pdf" type="file" />
  </p>
  <p>
    <button>Upload PDF</button>
  </p>
</form>