<h1>PDF Archive</h1>

<h2>Upload</h2>
<form action='/' method="POST">
  <p>
    <input name="pdf" type="file" />
  </p>
  <p>
    <button>Upload PDF</button>
  </p>
</form>

<h2>Search</h2>
<form action="/search" method="GET">
  <p>
    <input name="q" type="text" />
  </p>
</form>