<head>
  <title>Next Buses Map</title>
  <link rel="stylesheet" href="/leaflet.css" type="text/css"/>
  <!--[if lte IE 8]><link rel="stylesheet" href="/leaflet.ie.css" /><![endif]-->
  <script type="text/javascript" src="/leaflet.js"></script>
  <script type="text/javascript" src="/wax.leaf.min.js"></script>
  <script type="text/javascript">
var baseIcon, map;
var knowTimes = { };
function timeConvert(time){
  var hour, minute, ampm;
  hour = time.split(":")[0] * 1;
  minute = time.split(":")[1] * 1;
  ampm = "am";
  if(hour >= 12){
    ampm = "pm";
  }
  if(hour == 0){
    hour = 12;
  }
  else if(hour > 12){
    hour -= 12;
  }
  return hour + ":" + minute + " " + ampm;
}
function display(stopdetails){
  //console.log(stopdetails);
  document.getElementById("popopper").innerHTML = "";
  var nexttimes = document.createElement('p');
  nexttimes.innerHTML = "";
  for(var v=0;v<stopdetails.routes.length;v++){
  	var visit = stopdetails.routes[v];
    nexttimes.innerHTML += "Next Rt " + visit.route + " buses: " + timeConvert(visit.intime) + ", " + timeConvert(visit.outtime) + "<br/>";
  }
  document.getElementById("popopper").appendChild(nexttimes);
  document.getElementById("popopper").style.display = "block";
}

function init(){
  map = new L.Map('map');
  /*var maconbus = new L.TileLayer('http://{s}.tiles.mapbox.com/v3/jllord.mta/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; OpenStreetMap contributors. Tiles by Code for America',
    minZoom: 14,
    maxZoom: 17
  });
  map.addLayer(maconbus);*/
  map.setView(new L.LatLng( 32.833353,-83.623488 ), 15);
  wax.tilejson('http://api.tiles.mapbox.com/v3/jllord.mta.jsonp', function(tilejson) {
    map.addLayer(new wax.leaf.connector(tilejson));
    wax.leaf.interaction()
      .map(map)
      .tilejson(tilejson)
      .on(wax.tooltip().animate(false).parent(map._container).events())
      .on({
        on: function(){
          var stopnum = document.getElementById("info").children[0].children[0].innerHTML;
          if(knowTimes[ stopnum ]){
            // already requested this stop
          }
          else{
            knowTimes[ stopnum ] = true;
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.src = "/stopbyid?jsonp=display&id=" + stopnum;
            document.body.appendChild(s);
          }
        },
        off: function(){
          document.getElementById("popopper").style.display = "none";
        }
      });
    });
  baseIcon = L.Icon.extend({
    iconUrl: "/images/marker.png",
    shadowUrl: "/images/marker-shadow.png",
    iconSize: new L.Point(30, 36),
    shadowSize: new L.Point(42, 30),
    iconAnchor: new L.Point(15, 18),
    popupAnchor: new L.Point(0, -12)
  });
  
  
}
  </script>
  <style type="text/css">
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#map{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wax-tooltip {
  z-index:999999;
  position:absolute;
  background:#FFF;
  color:#000;
  padding:10px;
  left:10px;
  bottom:40px;
  max-width:300px;
  opacity:1;
  -webkit-transition:opacity .5s;
  -moz-transition:opacity .5s;
  }

.wax-movetip {
  position:absolute;
  z-index:999999;
  background:#333;
  color:#fff;
  padding:10px;
  max-width:300px;
}


.wax-tooltip.hide { opacity:0; }

.wax-tooltip .close {
  display:block;
  position:absolute;
  top:0px;
  right:0px;
  }

.wax-mobile-body .wax-tooltip {
  position:absolute;
  top:50px;
  }
  #popopper{
position:fixed;
bottom:10px;
left:10px;
background-color:#fff;
padding:4px;
  }
  </style>
</head>
<body onload="init()">
  <div id="map"></div>
  <div id="popopper"></div>
</body>