<head>
  <title>Where are they now?</title>
  <link rel="stylesheet" href="/jquery-ui.css" type="text/css"/>
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="/leaflet.css" type="text/css"/>
  <!--[if lte IE 8]><link rel="stylesheet" href="/leaflet.ie.css" /><![endif]-->
  <script type="text/javascript" src="/leaflet.js"></script>
  <script type="text/javascript">
function init(){
  var map = new L.Map('map');
  var maconbus = new L.TileLayer('http://{s}.tiles.mapbox.com/v3/jllord.mta/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; OpenStreetMap contributors. Tiles by Code for America',
    minZoom: 14,
    maxZoom: 17
  });
  map.addLayer(maconbus);
  map.setView(new L.LatLng( 32.833353,-83.623488 ), 15);
}

var busdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

$(document).ready(function() {
  $("#slider").slider();
  $("#slider").bind("slidechange", function(event, ui) {
    var datetime = ui.value;
    var day = Math.floor(ui.value / 16.667);
    var time = ui.value - day * 16.667;
    var hour = Math.floor(time * 24 / 16.667);
    time -= hour * 16.667 / 24;
    var minute = Math.floor(time * 24 * 60 / 16.667);
    if(minute < 10){
      minute = "0" + minute;
    }
    var bustime = hour + ":" + minute;
    $("#datetime").html( busdays[day] + ", " + bustime );
  });
  init();
});
  </script>
  <style type="text/css">
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#map{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#overlay{
  position: absolute;
  left: 30px;
  top: 150px;
  background-color: #fff;
  padding: 20px;
}
#slider{
  margin: 10px;
  width: 300px;
}
  </style>
</head>
<body>
  <div id="map"></div>
  <div id="overlay">
    <h3 id="datetime">Monday, 12:00 AM</h3>
    <div id="slider">
    </div>
  </div>
</body>