<head>
  <title>Where are they now?</title>
  <link rel="stylesheet" href="/jquery-ui.css" type="text/css"/>
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="/leaflet.css" type="text/css"/>
  <!--[if lte IE 8]><link rel="stylesheet" href="/leaflet.ie.css" /><![endif]-->
  <script type="text/javascript" src="/leaflet.js"></script>
  <script type="text/javascript">
var busdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
var day = 0;
var hour = 0;
var minute = 0;

$(document).ready(function() {
  $("#slider").slider();
  $("#slider").bind("slidechange", function(event, ui) {
    var time = ui.value;
    day = Math.floor(ui.value / 16.667);
    time -= day * 16.667;
    hour = Math.floor(time * 24 / 16.667);
    time -= hour * 16.667 / 24;
    var printhour = hour;
    var ampm = "am";
    if(hour == 0){
      printhour = "12";
    }
    else if(hour >= 12){
      ampm = "pm";
      if(hour > 12){
        printhour = hour-12;
      }
    }
    minute = Math.floor(time * 24 * 60 / 16.667);
    var printminute = minute;
    if(minute < 10){
      printminute = "0" + minute;
    }
    var bustime = printhour + ":" + printminute;
    $("#datetime").html( busdays[day] + ", " + bustime + " " + ampm );
  });
  init();
});

function init(){
  var map = new L.Map('map');
  var maconbus = new L.TileLayer('http://{s}.tiles.mapbox.com/v3/jllord.mta/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; OpenStreetMap contributors. Tiles by Code for America',
    minZoom: 14,
    maxZoom: 17
  });
  map.addLayer(maconbus);
  map.setView(new L.LatLng( 32.833353,-83.623488 ), 15);
}

function checkRoute(){
  var route = $("#route").val();
  $.getJSON('/json?route=' + route + '&date=2012,2,2' + day + ',' + hour + ',' + minute, function(data){
    if(data.active_buses.length == 0){
      $("#roadnow").html("No buses on the road");
    }
    else{
      $("#roadnow").html("");
      for(var b=0;b<data.active_buses.length;b++){
        $("#roadnow").append('<li>Bus headed ' + data.active_buses[b].direction + ', next stop ' + data.active_buses[b].next_station + ' at ' + data.active_buses[b].time + '</li>');
      }
    }
  });
}
  </script>
  <style type="text/css">
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#map{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#overlay{
  position: absolute;
  left: 30px;
  top: 150px;
  background-color: #fff;
  padding: 20px;
}
#slider{
  margin: 10px;
  width: 300px;
}
  </style>
</head>
<body>
  <div id="map"></div>
  <div id="overlay">
    <h3 id="datetime">Monday, 12:00 AM</h3>
    <div id="slider">
    </div>
    <select id="route">
      <option value="1" selected="selected">1 - Vineville/Zebulon</option>
      <option value="2">2 - Bellevue/Log Cabin/Zebulon</option>
      <option value="3">3 - West Macon/Thomaston Rd.</option>
      <option value="4">4 - North Highland</option>
      <option value="5">5 - Ocmulgee/Tom Hill, Sr. Blvd.</option>
      <option value="6">6 - Westgate/Bloomfield</option>
      <option value="9">9 - Macon Mall/Chambers Rd./Macon College</option>
      <option value="11">11 - East Macon/King Park</option>
      <option value="12">12 - Houston/Peach Orchard</option>
      <option value="13">13 - North Macon/Industrial</option>      
    </select>
    <input type="button" onclick="checkRoute()" value="&rarr;"/>
    <br/>
    <ul id="roadnow">
    </ul>
  </div>
</body>